$font-color: #02ac46;
$border-color: #02ac46;
* {
    font-family: sans-serif;
}
body {
    margin: 0;
}

.container {
    margin: 100px auto;
    width: 500px;
    border: 2px solid $border-color;
    border-radius: 4px;
    min-width: 300px;
    padding: 10px;
}

button {
    color: #fff;
    background-color: #02ac46;
    border: 2px solid $border-color;
    border-radius: 4px;
    padding: 11px 50px; 
	font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    margin: 2px;
}

.displays {
    color: $font-color;
    font-size: 16px;
    text-align: center;
    margin: 5px;
    span {
        text-transform: uppercase;
    }
  }

  #max-scores {
      display: inline-block;
      font-size: 20px;
  }

  .modal-overlay {
      background-color: rgba($color: #000000, $alpha: 0.5);
      display: none;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 1;
   
    }
    
    .modal {
        display: none;
        background: #fff;
        border-radius: 5px;
        color: $font-color;
        width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        max-height: 90%;
        overflow: hidden;
        .close {
            position: absolute;
            right: 0;
            top: 0;
            padding: 5px;
            color: #000;
            text-decoration: none;
            font-size: 1.5em;
        } 
        header {
            text-align: center;
            font-weight: bold;
            padding: 10px;
        }
        .modal-content {
            padding: 10px;
        }
        table {
            display: table;
            overflow-y: auto;
            width: 100%;
      }
      .input-wrap {
          display: flex;
          margin: 10px;
          input, label {
              padding: 5px;
              width: 40%;
          }
      }
  }
  
.display {
    display: block;
}



